.navbar {
	background-color:white;
}
.navbar ul {
	list-style: none;
}

.navbar ul li {
	float: left;
    height: 20px;
    padding: 15px 25px 16px;
    list-style: none;
    border-right: 1px solid rgba(0,0,0,.1) !important;
}

.fbo2{ 
	color: #999; 
}

body {
    font-size: 14px;
    height: 50px;
    margin: 0 auto;
    width: 1150px;
    font-family: sans-serif;
    color: #323233;
    background-color: #ebebeb;
    font-smooth: always;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
}


